/* !---- BASIC LAYOUT ---- */
.front .panel-region-separator {
  height: 7px; 
  background: #555;
}

.graybox-btns a, .item-list .pager li a  {
  background-color: #E8EDED;
  color: #333;
}

.branding {
  padding: 10px;
  min-height: 50px;
}

.logo-aak {
  background: transparent url(../images/aak-logo.png) left top no-repeat;
  display: block;
  height: 37px;
  width: 72px;
  text-indent: -999em;
  float: left;
}

.logo-ting {
  float: right;
  background: transparent url(../images/ting-logo.png) left top no-repeat;
  text-indent: -999em;
  display: block;
  height: 37px;
  width: 70px;
}


/* !----- HEADER ----- */
.header {
  background: #FF5B00;
  min-height: 85px;
  padding: 41px 10px 0;
}

.header .top,
.header .bottom {
  position: static;
}

.header .login-btn {
  top: 0;
}

.site-logo {
  display: block;
}

.site-logo img {
  width: 100%;
  height: auto;
}


/* !----- SEARCH ----- */
.block-ting_search {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 73px;
  width: 88%;
}

#ting-search-form #edit-keys-wrapper {
  margin-right: 68px;
}

#ting-search-form #edit-keys-wrapper input {
  border: none;
  border-radius: 4px;
  height: 21px;
  line-height: 21px;
}

#ting-search-form #edit-keys-wrapper label {
  top: -1px;
  color: #666;
}

#ting-search-form .form-submit {
  border: 1px solid #fff;
  border-radius: 4px;
  background: #FF8E4A;
  color: #fff;
  text-transform: uppercase;
  line-height: 21px;
  height: 29px;
  padding: 2px 10px 6px;
  display: block;
  width: auto;
  margin: 0;
  box-shadow: none;

}


/* !----- MENUS ----- */
.mobilemenu {
  margin:0;
  padding:1px 0 0 0;
  border-top: none;
  border-bottom: none;
  background: #fff;
}

.mobilemenu li{
  list-style:none;
  width:50%;
  float:left;
  margin-bottom:1px;

}

.mobilemenu li a{  
  background: #FF5B00;
}

.top-menu li.last a {
  background: #FF5B00 url("../images/arrow-down-white.png") 70px center no-repeat;
}

.top-menu {
  border-bottom: 7px solid #555;
}

.bottom-menu {
  border-top: 7px solid #555;  
}

.bottom-menu li a {
  text-align: center;
}

/* !----- TING SEARCH ----- */
#ting-search-result .graybox-btns a,
#ting-collection .graybox-btns a {
  background-color: #F0F0F0;
}

.sticky-element .form-submit {
  border: 1px solid #fff;
  background: #FF8E4A;
  text-transform: uppercase;
  color: #fff;
}